<dx-data-grid
  [dataSource]="transactions"
  [showBorders]="true"
  [rowAlternationEnabled]="true"
  class="custom-table"
  [paging]="{ pageSize: 5 }"
  [pager]="{
    showPageSizeSelector: true,
    allowedPageSizes: [5, 10, 15],
    showInfo: true
  }"
  [filterRow]="{ visible: true }"
  [searchPanel]="{ visible: true, highlightCaseSensitive: false }"
  [sorting]="{ mode: 'multiple' }"
>
  <!-- Description Column (Searchable & Sortable) -->
  <dxi-column
    dataField="description"
    caption="Description"
    [allowFiltering]="true"
    [allowSorting]="true"
  >
  </dxi-column>

  <!-- Amount Column (Sortable & Filterable with <, >, !=) -->
  <dxi-column
    dataField="amount"
    caption="Amount"
    dataType="number"
    format="₹ #,##0.00"
    [allowSorting]="true"
    [allowFiltering]="true"
  >
  </dxi-column>

  <!-- Type Column (Searchable & Sortable) -->
  <dxi-column
    dataField="type"
    caption="Type"
    [allowFiltering]="true"
    [allowSorting]="true"
  >
  </dxi-column>

  <!-- Date Column (Sortable & Filterable) -->
  <dxi-column
    dataField="date"
    caption="Date"
    dataType="date"
    format="dd/MM/yyyy"
    [allowSorting]="true"
    [allowFiltering]="true"
  >
  </dxi-column>
</dx-data-grid>
