<div class="h-full bg-gray-50 text-gray-800">
  <div class="border-b bg-white shadow-md rounded-lg py-4 px-6 mb-1">
    <div
      class="container mx-auto flex flex-wrap items-center justify-between gap-3"
    >
      <p class="text-3xl font-bold text-gray-700">Hello, {{ username }} ! 👋</p>
    </div>
  </div>
  <div class="p-2 max-w-7xl mx-auto">
    <app-stats-card
      income="{{ income }}"
      expense="{{ expense }}"
      balance="{{ balance }}"
    />
    <div class="mt-8 bg-white shadow-md rounded-lg p-6">
      <app-charts />
    </div>

    <h2 class="text-2xl font-semibold text-gray-700 mt-8 mb-5">
      Recent Transactions
    </h2>
    <div class="bg-white shadow-md rounded-lg p-6">
      <app-dashboard-table [transactions]="transactions" />
    </div>
  </div>
</div>
