<div class="h-full bg-gray-50 text-gray-800 min-h-screen">
  <div class="border-b bg-white shadow-md rounded-lg py-4 px-6 mb-1">
    <div
      class="container mx-auto flex flex-wrap items-center justify-between gap-3"
    >
      <p class="text-3xl font-bold text-gray-700">Hello, {{ username }} ! 👋</p>
    </div>
  </div>
  <div class="p-2 max-w-7xl mx-auto">
    <app-stats-card
      income="{{ income }}"
      expense="{{ expense }}"
      balance="{{ balance }}"
    />
    <app-charts />
  </div>
</div>
